<footer class="bg-white p-5">
    <div class="w-full d-flex justify-content-evenly">
        <ul>
            <li><b>UNIVERSITY</b></li>
            <li>덕성여자대학교</li>
            <li>서울 도봉구 삼양로144길 33 (쌍문동, 덕성여자대학교)</li>
            <li>(ARS) 02-901-8000</li>
        </ul>
    
        <ul>  
            <li><b>TEAM NINE</b></li>
            <li>김지연 (20210240)</li>
            <li>박수빈 (20210913)</li>
            <li>정채이 (20210702)</li>
            <li>조예성 (20210705)</li>
            <li>홍가영 (20211228)</li> 
        </ul>  
        <ul>  
            <li><b>CONTACT</b></li> 
            <li>010-6684-2949   |    bbiyakeke@naver.com   |   @wvwvuv</li>
            <li>010-9208-5892   |    binny0226@naver.com   |   @yr_ldln</li>
            <li>010-7101-2041   |    codl_0422@naver.com   |   @codl_cherry</li>
            <li>010-2723-8968   |    owl0506@naver.com     |   @zyecastle</li>
            <li>010-7599-8694   |    thehd9891@naver.com   |   @hong6v6</li>
        </ul> 
    </div>
    <p class="center mt-5 ">Copyright (c) DUKSUNG WOMEN'S UNIVERSITY. All right reserved.</p>  
</footer>  
