@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-size: 18px;
    color: #333;
    font-family: 'Noto Sans KR', sans-serif;
    word-break: keep-all;
}

h1, h2, h3, h4, h5, h6{
    font-size: 32px;
    font-weight: bold;
}
a{
    color: #333;
}
input, select{
    background: #FFF;
    border: 2px solid #cacaca;
    border-radius: 10px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
    height: 40px;
}
input:focus, select:focus{
    border-color: #FF176A ;
}
button{
    padding: 0 15px;
    border-radius: 10px;
    height: 40px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
}

button.pink{
    color: #fff;
    background-color: #FF176A;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card{
    padding: 15px;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
}

.bg-pink{
    background-color: #FF176A;
}