
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}


.section1{
  background-color: #FBF3ED;
  background-image: url('/static/images/homepage/main/bg-bottom.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}
.section2{
  background: url('/static/images/homepage/main/bg-star.png') no-repeat center;
  background-size: 70%;
}
.section3{
  background-color: #FBF3ED;
}
.section4{
}




.mySwiper {
  width: 100%;
  height: 100%;
}

.mySwiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
.mySwiper .swiper-pagination-bullet{
  background-color: white !important;
  box-shadow: 0px 0px 3px gray !important;
  opacity: 1 !important;
  margin: 15px 30px 0 !important;
  width: 10px;
  height: 10px;

}
.mySwiper .swiper-pagination-bullet-active{
  box-shadow: 0px 0px 3px rgb(255, 49, 111) !important;
}

.step {
  padding: 10px 20px 0 20px;
  margin-bottom: 0;
}

.step li{
  width: 28%;
  margin-bottom: 0;
  padding: 0;
}

.talk-pink{
  background: url('/static/images/homepage/main/talk.png') no-repeat center;
  background-size: contain;
  height: 130px;
  margin-bottom: 10px;
  text-align: center;
  padding-left: 30px;
  color: #fff;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.friendsSwiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
