
        .image-container {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 30vh; /* 100% viewport height, 조절 가능 */
        }
    
        .rounded-image {
          border-radius: 50%;
          width: 150px; /* 이미지의 크기에 맞게 조절하세요 */
          height: 150px; /* 이미지의 크기에 맞게 조절하세요 */
        }



      .text-center {
          margin: 0 auto; /* 폼을 수평 가운데 정렬 */
          max-width: 600px; /* 필요에 따라 max-width를 조절하세요. */
          padding: 20px; /* 원하는 만큼 패딩을 추가하세요. */
          border: 1px solid #ccc; /* 테두리 추가 */
          border-radius: 10px; /* 둥근 테두리를 위한 반지름 설정 */
      }

      /* Flexbox를 사용하여 라벨과 입력창이 같은 라인에 위치하도록 설정 */
      .text-center label {
          display: flex;
          align-items: center;
          margin-bottom: 10px;
          margin-right: 10px;
      }

      .text-center input,
      .text-center checkbox {
          margin-bottom: 10px;
      }

      .text-center button {
          margin-top: 10px;
      }
      /*원형 틀 이미지 출력*/
      .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; /* 100% viewport height, 조절 가능 */
      }
  
      .rounded-image {
        border-radius: 50%;
        width: 150px; /* 이미지의 크기에 맞게 조절하세요 */
        height: 150px; /* 이미지의 크기에 맞게 조절하세요 */
      }
