<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% include 'module/logged_in_navbar.html' %}

    {#
    {% if user.is_authenticated %}
        {% include 'module/logged_in_navbar.html' %}
    {% else %}
        {% include 'module/guest_navbar.html' %}
    {% endif %}
    #}   

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    {% include 'module/footer.html' %}
</body>
</html>