{% extends 'module/base.html' %}

{% block title %}공개구벗{% endblock %}

{% block content %}
  <div class="flex justify-between items-start flex-wrap">
    {% for m in object_list %}
    <div class="border-1 p-0 mb-5 w-[32%] rounded overflow-hidden">
      <div class="h-[200px] overflow-hidden flex justify-center items-center">
          {% if m.back_image %}
              <img class="card-img-top" src="{{ m.back_image.url }}" alt="random image">
          {% else %}
              <img class="card-img-top" src="https://picsum.photos/seed/{{ p.id }}/800/200" alt="random image">
          {% endif %}
      </div>

      
      <div class="h-[200px] p-3">
        <h5 class="flex  items-center"> 
          <img src="{{ m.prof_image.url }}" alt="프로필 사진" class="w-[50px] h-[50px] mr-3"> 
          {{ m.member_name }}
      </h5>
        <p class="card-text">{{ m.member_major_1 }} | {{ m.member_major_2 }}</p>
        <span class="bg-pink rounded-2xl px-3 py-1 text-white break-keep inline-block" >#해쉬태그</span>
        <span class="bg-pink rounded-2xl px-3 py-1 text-white break-keep inline-block" >#해쉬태그</span>
        <span class="bg-pink rounded-2xl px-3 py-1 text-white break-keep inline-block" >#해쉬태그</span>
     
      </div>
    </div>
    {% endfor %}
  </div>
  {% endblock %}
  
