{% extends 'module/base.html' %}
{% load static %}
{% block title %}공개구벗{% endblock %}

{% block content %}
  <div class="flex justify-start items-start flex-wrap">
    {% for m in object_list %}
      {% if m != request.user %}
        <div class="border-1 p-0 mb-5 w-[31%] rounded overflow-hidden m-[1%]">
          <div class="h-[200px] overflow-hidden flex justify-center items-center">
            {% if m.back_image %}
              <img class="card-img-top" src="{{ m.back_image.url }}" alt="default image">
            {% else %}
              <img class="card-img-top" src="{% static 'images/profile/back.png' %}" alt="default image">
            {% endif %}
          </div>
          <div class="min-h-[300px] p-3">
            <h5 class="flex  items-center"> 
              <div class="w-[50px] h-[50px] mr-3 rounded-[50%] overflow-hidden">
                {% if m.prof_image %}
                  <img src="{{ m.prof_image.url }}" alt="프로필 사진"  class="w-full"> 
                {% else %}
                  <img src="{% static 'images/profile/prof.png' %}" alt="default image" class="w-full">
                {% endif %}
              </div>
              {{ m.nickname }}
            </h5>
            <p class="card-text">{{ m.major1 }} | {{ m.major2 }}</p>
            {% for t in m.tag.all %}
              <div class="bg-slate-100 rounded-2xl px-3 py-1 break-keep inline-block mt-1 mr-1 text-sm">#{{t.name}}</div>
            {% endfor %}
            <div>
              <button class="pink px-2 block mt-5 px-3">
                <a href="/add_friend/{{m.username}}/" class="text-white hover:text-white no-underline">
                  친구하기
                </a>
              </button>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}
