{% extends 'module/base.html' %}

{% block title %}공개구벗{% endblock %}

{% block content %}
  <div class="flex justify-between items-start flex-wrap">
    {% for m in object_list %}
    <div class="border-1 p-0 mb-5 w-[32%] rounded overflow-hidden">
      <div class="h-[200px] overflow-hidden flex justify-center items-center">
          {% if m.back_image %}
              <img class="card-img-top" src="{{ m.back_image.url }}" alt="default image">
          {% else %}
              <img class="card-img-top" src="{% static 'images/profile/back.png' %}" alt="default image">
          {% endif %}
        </div>
        
        
        <div class="h-[300px] p-3">
          <h5 class="flex  items-center"> 
          {% if m.prof_image %}
            <img src="{{ m.prof_image.url }}" alt="프로필 사진" class="w-[50px] h-[50px] mr-3"> 
          {% else %}
              <img class="card-img-top" src="{% static 'images/profile/prof.png' %}" alt="default image">
          {% endif %}
          {{ m.name }}
      </h5>
        <p class="card-text">{{ m.major1 }} | {{ m.major2 }}</p>
        {% if m.hash.exists %}
          {% for t in m.tag.iterator %}
            <span class="bg-pink rounded-2xl px-3 py-1 text-white break-keep inline-block mt-1 mr-1">{{t}}</span>
          {% endfor %}
        {% endif %}

      </div>
    </div>
    {% endfor %}
  </div>
  {% endblock %}
  
