<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>DUKONNECT</title>
    
    <!-- css load -->
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}" media="screen">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="{% static 'css/common.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" media="screen">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    {% include 'module/navbar.html' %}
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide section1">
                <div class="container mt-[150px] h-[80vh]">
                    <div class="row" >
                        <div class="flex justify-between items-center mb-4">
                            <div class="w-[43%]">
                                <h2 class="font-bold text-4xl mb-3">
                                    즐거운 학교생활 !<br>
                                    추억을 공유 할 친구 사귀기 !
                                </h2>
                                <p class="text-lg mb-5">
                                    우리 학교에서 새로운 친구를 사귀고 싶을 때<br>
                                    덕커넥트를 통해 관심사가 비슷한 친구를 사귀어요 !
                                </p>
                                {% if user.is_authenticated %}
                                <a href="/mypage" class="text-pink border-1">
                                    시작하기
                                </a>
                                {% else %}
                                <a href="/login" class="text-pink border-1">
                                    시작하기
                                </a>
                                {% endif %}
                            </div>
                            <div  class="w-[43%]">
                                <img src="{% static 'images/homepage/main/school.png' %}">
                            </div>
                        </div>
        
                        <div class="card">
                            <b class="text-xl mt-[10px] pl-[20px]">덕커넥트 이용방법</b>
                            <ul class="flex justify-between items-center step">
                                <li>
                                    <b >STEP1</b>
                                    <p>[내 정보]에서 나의 정보를 입력해요. 이 정보를 바탕으로 친구를 매칭해요.</p>
                                </li>
                                <div class="border-1 h-full "></div>
                                <li>
                                    <b >STEP2</b>
                                    <p>[내 친구]에서 [1:1 매칭 시작하기]를 선택해요. 매칭이 완료되면 서로의 전화번호가 공유돼요.</p>
                                </li>
                                <div class="border-1 h-full "></div>
                                <li>
                                    <b >STEP3</b>
                                    <p>더욱 다양하고 많은 친구를 만나고 싶을 땐 [내 정보]에서 [공개구친]에 체크해요.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide section2">
                <div class="container  mt-[150px] h-[80vh]">
                    <div class="row" >
                        <h3 class="font-bold text-4xl text-center">
                            즐거운 학교생활 !<br>
                            추억을 공유 할 친구 사귀기 !
                        </h3>
                        <div class="flex justify-between items-center mb-5">
                            <div class="w-[40%] center flex-col">
                                <img src="{% static 'images/homepage/main/girl1.png' %}" class="w-[60%] mb-3">

                                <div class="card text-lg p-4">
                                    덕커넥트 ! 나만의 음식 취향 🍕<br>
                                    나의 최애 아이돌🤹‍♂️  내가 요즘 빠져버린 게임 🎯<br>
                                    <span class="mt-3 text-lg">
                                        같이 즐길 친구를 찾아줘~!
                                    </span>
                                </div>
                            </div>
                            <div class="w-[60%]">
                                <div class="talk-pink">
                                    전공이 나와 같은 사람을 만나<br>
                                    함께 공부하고싶어!
                                </div>
                                <div class="talk-pink">
                                    홍대에 파스타 맛집이 있대!<br>
                                    같이 먹으러 가면 좋겠어!
                                </div>
                                <div class="talk-pink">
                                    닌텐도 같이 할 사람 ~ !<br>
                                    나는 동물의 숲 고인물이야~
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide section3">
                <div class="container  mt-[150px] h-[80vh]">
                    <div class="row" >
                        <h4 class="font-bold text-4xl text-left mb-3">
                            친구를 찾아보자 !
                        </h4>
                        <p class="mb-5 text-lg">
                            우리 학교에서 새로운 친구를 사귀고 싶을 때<br>
                            덕커넥트를 통해 관심사가 비슷한 친구를 사귀어요 !
                        </p>

                        <div class="flex justify-between">
                            <div class="card p-0 w-[31%]">
                                <div class="icon bg-semigray center flex-col py-3 h-[250px]">
                                    <img src="{% static 'images/homepage/main/icon1.png' %}" >
                                    <b class="text-2xl font-bold mt-4">내 정보 입력</b>
                                </div>
                                <div class="p-3 flex flex-col justify-between h-auto">
                                    <p class="text-lg">
                                        나에 대한 전공과 취향을 입력하고 만나고 싶은 친구의 전공과 취향도 함께 입력해요!
                                    </p>
                                    <a href="/join" class="text-pink">바로가기  →</a>
                                </div>
                            </div>
                            <div class="card p-0 w-[31%]">
                                <div class="icon  bg-pink center flex-col py-3 h-[250px]">
                                    <img src="{% static 'images/homepage/main/icon2.png' %}" >
                                    <b class="text-2xl font-bold mt-4 text-white">1 : 1 매칭</b>
                                </div>
                                <div class="p-3 flex flex-col justify-between h-auto">
                                    <p class="text-lg">
                                        입력한 정보를 바탕으로 가장 많은 키워드가
                                        겹치는 친구를 찾아서 매칭해줘요!
                                    </p>
                                    <a href="/mypage" class="text-pink">바로가기  →</a>
                                </div>
                            </div>
                            <div class="card p-0 w-[31%]">
                                <div class="icon bg-yellow center flex-col py-3 h-[250px]">
                                    <img src="{% static 'images/homepage/main/icon3.png' %}" >
                                    <b class="text-2xl font-bold mt-4 text-white">공개 구친</b>
                                </div>
                                <div class="p-3 flex flex-col justify-between h-auto">
                                    <p class="text-lg">
                                        더욱 다양하고 많은 친구를 만나보고 싶을
                                        땐 나의 프로필을 공개하여 공개구친에
                                        참여해요!
                                    </p>
                                    <a href="/list" class="text-pink">바로가기  →</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide section4">
                <div class="container  mt-[150px] h-[80vh]">
                    <div class="row" >
                        <h5 class="font-bold text-4xl text-center">
                            지금도 많은 친구들이<br>
                            기다리고 있어요!
                        </h5>
                        <a href="/list"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>

    <!-- js load -->

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>