{% extends 'module/base.html' %}
{% load crispy_forms_tags static %}
<!-- {% load static %} -->
{% block title %}마이페이지{% endblock %}

{% block content %}
    <!-- css load -->
    <link rel="stylesheet" href="{% static 'css/mypage.css' %}" media="screen">

    <form method="post" enctype="multipart/form-data">

        {% csrf_token %}
        {% crispy form %}

        <div class="flex">
          <button type="submit" class="bg-[#FF176A] text-white px-3 rounded mt-4 inline-block mr-1">수정하기</button>
          <button type="submit" class="bg-[#FF176A] text-white px-3 rounded mt-4 inline-block">탈퇴하기</button>
        </div>
      </div>
    </form>
{% endblock %}
