{% extends 'module/sm_base.html' %}
{% load static %}
{% block title %}내 정보{% endblock %}
{% block content %}
    <div class="w-full h-[200px] overflow-hidden">
        {% if object.back_image %}
            <img src="{{ object.back_image.url }}" alt="배경 사진" class="w-full "> 
        {% else %}
            <img src="{% static 'images/profile/back.png' %}"  class="w-full ">
        {% endif %}
    </div>


    <div class="w-40 h-40 overflow-hidden rounded-[50%] z-1 block  mt-[-7rem] mx-auto">

        {% if object.prof_image %}
        <img src="{{ object.prof_image.url }}" alt="프로필 사진" class="w-full"> 
        {% else %}
        <img src="{% static 'images/profile/prof.png' %}" class="w-full" >
        {% endif %}
    </div>
    <div class="info mt-3">
        <ul class="p-0">
            <li class="flex min-h-[1.75rem]">
                <b class="min-w-[110px] block">이름</b>
                {{ object.name }} ({{ object.studentID}})
            </li>
            <li class="flex min-h-[1.75rem]">
                <b class="min-w-[110px] block">닉네임</b> 
                {{ object.nickname }}
            </li>
            <li class="flex min-h-[1.75rem]">
                <b class="min-w-[110px] block">ID</b> 
                {{ object.username }}
            </li>
            <li class="flex min-h-[1.75rem]">
                <b class="min-w-[110px] block">이메일</b> 
                {{ object.email }}
            </li>
            <li class="flex min-h-[1.75rem]">
                <b class="min-w-[110px] block">생년월일</b>
                {{ object.birth | date:"Y-m-d"  }}
            </li>
            <li class="flex min-h-[1.75rem]">
                <b class="min-w-[110px] block">연락처</b>
                {{ object.tel }}
            </li>
            <li class="flex min-h-[1.75rem]">
                <b class="min-w-[110px] block">제1전공</b>
                {{ object.major1 }}
            </li>
            <li class="flex min-h-[1.75rem]">
                <b class="min-w-[110px] block">제2전공</b>
                {{ object.major2 }}
            </li>
            <li class="flex min-h-[1.75rem]">
                <b class="min-w-[110px] block">해시태그</b>
                <ul class="p-0 flex flex-wrap">
                    {% for t in object.tag.all %}
                    <li class="bg-slate-100 block rounded-3xl mr-2 px-2 py-1 mb-1">#{{t.name}}</li>
                    {% endfor %}
                </ul>
            </li>
            <li class="flex min-h-[1.75rem]">
                <b class="min-w-[110px] block">프로필 공개</b>
                {% if object.open_profile %}
                공개 중
                {% else %}
                비공개
                {% endif%}
            </li>
        </ul>
    </div>

    <button class="pink px-3 rounded mr-1 w-full h-[50px] mt-3">
        <a href="{% url 'app:auto_match_friends' %}" class="text-white hover:text-white no-underline">친구 자동 매칭</a>
    </button>
    <div class="flex justify-between mt-2">
        <a href="/accounts/update" class="w-[48%] block">
            <button class="bg-gray-100 text-gray-500 hover:text-gray-800 px-3 roundedinline-block mr-1 w-full h-[50px]">수정하기</button>
        </a>
        <a href="/accounts/delete" class="w-[48%] block">
            <button class="bg-gray-100 text-gray-500 hover:text-gray-800 px-3 roundedinline-block w-full h-[50px]">탈퇴하기</button>
        </a>
    </div>
 
{% endblock %}
